// Specific CSS for your home-page
h2 {
  font-weight: 600;
  font-size: 26px;
}

h4 {
  font-weight: 600;
  font-size: 22px;
}

p {
  font-size: 14px;
}

body {
  color: $dark-green;
  background-color: white;
}
