.offer-details {
  border-bottom: 1px solid #ddd;
}

.offer-instruction {
  color: $grey;
  margin: 0;
}

.offer-information {
  margin: 0;
  // width: 50%;
}

.middle-section {
  margin-right: 0;
  margin-left: 0;
  justify-content: space-between;
}
