<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url('banner.jpeg') %>);">
  <div class="container">
    <h1 class="text-center">FLOWER CARE</h1>
    <p class="text-center">Care for your plants while you're away</p>
  </div>
</div>
