body, html {
  height: 100%;
}

.banner {
  background-size: cover;
  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 0;
  height: 100%;
}

.banner h1 {
  margin: 0;
  color: #80c87f;
  font-size: 64px;
  font-weight: bold;
}

.banner p {
  font-size: 28px;
  color: #80c87f;
  opacity: .7;
}




