.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #80c87f;
  transition: background 0.3s ease;
}

.btn-cancel {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #343a40;
  transition: background 0.3s ease;
}

.booking-button {
  margin: 24px 0;
  border-radius: 8px;
  background-color: $dark-green;
  color: white;

    &:hover {
      background-color: $marine-blue;
    }

}
