.card-offer {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 100px;
}

.card-offer > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-offer h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-offer p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-offer .card-offer-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-offer-infos .card-offer-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.booking-card {
  margin-top: 48px;
  height: 240px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 24px;

    h4 {
      padding-bottom: 24px;
      border-bottom: 1px solid #ddd;
      margin: 0;
    }

    .price-info {
      justify-content: space-between;
      align-items: center;
      padding: 24px 0;


        p {
          margin: 0;
        }

        h2 {
          margin: 0;
        }


      }
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 1px solid #ddd;
  border-radius: 16px;
  height: fit-content;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

  a {
    color: $dark-green;
  }
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
