.navbar-lewagon {
  justify-content: space-between;
  background: $dark-green;
  padding: 12px 32px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  margin: 0 16px;

  &:hover {
    color: $marine-blue
  }
}
