.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 40px;
    gap: 40px;
}

.cards {
    display: grid;
    gap: 32px;
}

#map {
    width: 100%;
    height: 70vh;
    position: sticky;
}
